<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .active{
        display: none;
    }

</style>

</head>

<body>

    <div id="app">
        <!-- v-text -->
        <h2 v-text="message"></h2>
        <h2> {{ message + " ! " }} </h2>
        <!-- v-html -->
        <h2 v-html="content"></h2>
        <!-- v-on -->
        <input type="button" value="使用了v-on的按钮" v-on:click="doIt"></input>
        <input type="button" value="简写事件" @click="doIt"></input>
        <input type="button" value="双击事件" @dblclick="doIt"></input>
        <h2 @click="changefood">{{ food }}</h2>
        <!-- v-show -->
        <img src="https://cdn.jsdelivr.net/gh/fushaolei/img/20200524104925.jpg" v-show="isShow">
        <button @click="showimg">显示/隐藏 图片</button>
        <!-- v-if -->
        <p v-if="isp" >im v-if you know</p>
        <button @click="showp">显示/隐藏 段落</button>
        <!-- v-bind -->
        <img v-bind:src="imgSrc" :class="{active:isActive}">
        <button @click="changeImgSrc">改变图片src</button>
        <button @click="changeImgClass">改变图片属性</button>
        <!-- v-for -->
        <h2>无索引的</h2>
        <ul>
            <li v-for="item in simpleArr">{{ item }}</li>
        </ul>
        <h2>有索引的</h2>
        <ul>
            <li v-for="(item,index) in simpleArr"> {{ index }} {{ item }}</li>
        </ul>
        <h2>对象数组</h2>
        <ul>
            <li>objArr数组的长度是{{ objArr.length }}</li>
            <li v-for="item in objArr">{{ item.name }} ==的配偶是== {{ item.wife }}</li>
        </ul>
        <button @click="add">添加数据</button>
        <button @click="remove">移除数据</button>
        <!-- v-on补充 -->
        <button @click="doItAgain(666,'老铁')">doItAgain</button>
        <input type="text" @keyup.enter="sayHi"></input>
        <!-- v-model -->
        <h2>v-model</h2>
        <input type="text" v-model="msg" @keyup.enter="getM"></input>
        {{ msg }}
        <button @click="setM">change</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app=new Vue({
        el: "#app",
        data:{
            message:"im v-test",
            content: "<a href='#'>im v-html</a>",
            food:"西兰花炒鸡蛋",
            isShow: false,
            isp: true,
            imgSrc:"https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/cover/03.jpg",
            isActive: true,
            simpleArr:["任我行","林平之","苏星河","巫行云"],
            objArr:[
                {name:"郭靖",wife:"黄蓉"},
                {name:"杨过",wife:"小龙女"},
                {name:"陈玄凤",wife:"梅超风"}
            ],
            msg:"专门写bug"
        },
        methods:{
            doIt:function(){
                alert("im v-on");
            },
            changefood:function(){
                this.food+="好好吃!"
            },
            showimg:function(){
                this.isShow=!this.isShow;
            },
            showp:function(){
                this.isp=!this.isp;
            },
            changeImgSrc:function(){
                this.imgSrc="https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/cover/05.jpg";
            },
            changeImgClass:function(){
                this.isActive=!this.isActive;
            },
            add:function(){ 
                this.objArr.push({name:"天",wife:"地"});
            },
            remove:function(){
                this.objArr.shift();
            },
            doItAgain:function(p1,p2){
                console.log("doItAgain");
                console.log(p2+"双击"+p1);
            },
            sayHi:function(){
                alert("恰了没");
            },
            getM:function(){
                alert(this.msg);
            },
            setM:function(){
                this.msg="写的不止有bug";
            }
        },
    })
</script>
</html>